:root {
  --primary: #2a8b8b;
  --secondary: #24232b;
  --text: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

button {
  font: inherit;
  cursor: pointer;
}

.btn {
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  outline: transparent;
  border-radius: 5px;
}

.btn-primary {
  background-color: var(--primary);
  color: var(--text);
}
